/buildSrc/gradle.properties
/buildSrc/.gradletasknamecache
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/.idea
.idea
/gradlew.bat
/gradlew
/.gradletasknamecache
/buildSrc/build
/buildSrc/.gradle
/app/build
/buildSrc/local.properties
