<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.ele.mess">

    <application
        android:name=".ApplicationContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="me.ele.mess.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="me.ele.mess.SecondActivity" />
        <activity android:name=".SecondActivity222" />
        <activity
            android:name=".booking.ui.checkout.invoice.InvoiceEditActivity"
            android:screenOrientation="portrait"
            />
        <service android:name=".TestService$InnerService"/>
    </application>

</manifest>
